@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 20px 18px;
  font-family: "Roboto", sans-serif;
}

.main-title {
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.ward-container {
  margin-bottom: 50px;
}

.ward-name {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
}
